@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");

:root{
    --primary-color: #4C1CAF;
    --gray-white:#E5E7EB;
    --white:#ffffff;
    --dark-gray:#6B7280;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'montserrat',sans-serif;
    font-size: 1.3rem;
}

hr{
    margin: 2rem 0rem;
}

.container{
    padding: 1rem 1rem;
}

.container-center{
    max-width: 900px;
    margin: auto;
    text-align: justify;
}

.link{
    text-decoration: none;
    padding: 0.5em 1em;
    
    margin:1rem 0.5rem;
    
}

.link-primary{
    background-color:var(--primary-color) ;
    color:var(--white);
    border-radius: 0.5rem;
    
}

.link-secondary{
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 0.5rem;
}

.list-non-bullet{
    list-style-type: none;
}

.list-inline{
    display: inline-block;
}

.navbar{
    background-color: var(--primary-color);
    color: var(--white);
    padding: 1rem ;
    border-top-left-radius:1rem ;
    border-bottom-right-radius: 1rem;
}

.navbar .link{
    padding: 0.5em;
    color: var(--white);
    
}

.nav-elements{
    text-align: right;
}

.nav-brandname{
    font-size: 1.4rem;
    font-weight: 700;
}

.navbar .link-active{
    font-weight: 700;
}

.hero{
    padding: 1rem;
}

.hero .hero-img{
    max-width: 400px;
    display: block;
    margin: auto;
}

.hero .hero-heading{
    font-size:3rem;
    text-align: center;
    color:var(--dark-gray) ;
}

.section{
    padding: 1rem;
    min-height: 200px;
  
}

.section h1{
    text-align: center;
    color: var(--dark-gray);
}

.section .section-offwhite-heading{
    color: var(--primary-color);
}

.section-offwhite {
    background-color: var(--gray-white);
    border-radius: 0.5rem;
}




.footer{
    background-color: var(--primary-color);
    padding: 2rem 4rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: block;
    border-top-right-radius: 1rem;
    color: white;
    
    }
    .footer .footer-lists{
    text-decoration: none;
    text-align: center;
    color:white;
    }
    .footer-links{
    text-decoration: none;
    color:white;
    cursor: pointer;
    
    }
    .footer ul {
    padding-inline-start: 0px;
    }
    .footer-div{
    text-align: center;
    font-weight: bold;
    
    }
    
    .list-inline{
    display: inline;
    
    padding: 0rem 1rem;
    }